#nav-div ul {
    list-style-type: none;
    margin-left: -50px;
}


/* The side navigation menu */

#nav-main {
    background: #24BBF2;
    display: flex;
    justify-content: space-between;
}

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #535A63;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav ul {
    text-align: center;
}


/* The navigation menu links */

.sidenav .link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #818181;
    display: block;
    transition: 0.3s;
    border: 1px solid rgba(255, 255, 255, .5);
    width: 100%;
    border-bottom: none;
    margin: 0 auto;
}

.sidenav .link:last-child {
    border: 1px solid rgba(255, 255, 255, .5);
}

.sidenav .link:hover {
    color: #24BBF2;
    display: block;
    transition: 0.3s;
    background: #24BBF2;
}

.sidenav .link a {
    text-decoration: none;
    color: #fff;
}

.nav-main-list img {
    width: 15px;
    height: 15px;
    margin: 0 auto;
}

.sidenav h4 a {
    margin: 10px;
    color: #fff;
    text-align: center;
    font-size: 25px;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 20px;
    color: #fff !important;
    opacity: .5;
}

.sidenav .closebtn:hover {
    opacity: 1;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    /* transform: translateX(250px) */
    /* padding: 20px; */
}

.nav-main-button {
    color: #fff;
    align-self: center;
    margin: 0 20px;
    font-size: 1.5rem;
}

.nav-main-list {
    display: flex;
    justify-content: space-between;
}

.nav-main-list li {
    margin: 10px 10px 0;
}

.nav-main-list li:nth-child(n+2) {
    display: none
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (min-width: 720px) {
    .sidenav ul {
        text-align: left;
    }
    .sidenav .link {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 1.2rem;
        color: #818181;
        display: block;
        transition: 0.3s;
        border: 1px solid rgba(255, 255, 255, .5);
        width: 100%;
        border-bottom: none;
        margin: 0 auto;
    }
    .nav-main-list img {
        width: 25px;
        height: 25px;
        margin: 0 auto;
    }
    .nav-main-list img:first-child {
        width: 20px;
        height: 20px;
        margin: 0 auto;
    }
    .nav-main-list li:nth-child(n+2) {
        display: block
    }
}