/* 
==========================================================================
	 General
========================================================================== 
*/

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

body,
#main,
html {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    letter-spacing: normal;
    line-height: 35px;
    color: #A0A0A0;
}

p,
a {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-transform: none;
    text-decoration: none;
}